<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <app-filter></app-filter>
    </div>
    <div class="col-md-9">
      <app-search></app-search>
      <div *ngIf="courseCards.length > 0">
        <div *ngFor="let card of courseCards" class="mb-5">
          <app-course-card [title] = "card.title"
          [teacher]="card.user_name"
          [img] = "card.image"
          [price] = "card.price"></app-course-card>
        </div>
      </div>
      <div class="mt-5 mb-5">
       <!-- Paginator -->
       <app-paginator (newItemEvent)="paginate($event)" [length] = "length"></app-paginator>
      </div>
    </div>
  </div>
</div>
