<div class = "container">
    <div class = "row">
        <div class = "col-md-4">
            <img class="img-fluid object-fit-fill img-thumbnail h-100" src = "https://codersfree.nyc3.cdn.digitaloceanspaces.com/courses/portadas/aprende-a-desplegar-proyectos-laravel-como-un-profesional-guia-practica.jpg">
        </div>
        <div class = "col-md-7">
            <h5>{{title ||'title'}}</h5>
            <p class = "fs-6">{{description || '    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, ullam nihil facere consequuntur dolorum eligendi minima. Sit ad voluptas impedit adipisci nulla quisquam? Non mollitia repellendus sint quas incidunt at.'}}</p>
            <span>Prof: {{teacher || 'teacher'}}</span>
            <div class = "d-flex align-items-center">
                <app-star [rating]="3" [disabled]="false"></app-star>
                <div class = "fs-6">
                    ({{rating || "3"}})
                </div>
            </div>
        </div>
        <div class = "col-md-1 text-end">
            <p class = "fw-semibold">{{price || 'price'}}</p>
        </div>
    </div>
</div>