.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .example-section {
    margin: 12px 0;
  }
  
  a{
      text-decoration: none;
  }
  
  a:hover{
      text-decoration: underline;
  }
  