<app-form-card>
  <div>
    <p class="text-muted">
      ¿Olvidaste tu contraseña? No hay problema. Simplemente déjanos saber tu
      dirección de correo electrónico y te enviaremos un enlace para restablecer
      la contraseña que te permitirá elegir una nueva.
    </p>
    <div>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Correo</mat-label>
          <input matInput placeholder="Ej: example@gmail.com" />
        </mat-form-field>

        <button class="btn btn-gray text-center w-100">
          Enviar Enlace para Restablecer Contraseña
        </button>

        <div class="text-center mt-4">
          <label>
            <a routerLink="/auth/login" class="text-muted text-nowrap">
              Inicio de Sesión
            </a>
          </label>
        </div>
      </form>
    </div>
  </div>
</app-form-card>
