/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #F3F4F6; }


.btn-gray{
    background-color: #374151;
    color: white;
}

.btn-gray:disabled{
    background-color: #9ca3af;
    color: white;
}

.btn-gray:hover{
    background-color: #4b5563;
    color: white;
}

label.star{
    font-size: 16px !important;
}



